# Ignore transpiled files
*.js
*.d.ts

# Node modules
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# DrawIO Image definitions
*.drawio

# Jest config
!jest.config.js

# Eslint config
!.eslintrc.js



# Lambda code exclusion

# No type definitions available for dynamo-stream-diff library used by permission set stream handler
!decs.d.ts

!/lib/lambda-functions/sso-handlers/src/permissionSetTopic.js
!/lib/lambda-functions/sso-handlers/src/orgEvents.js
!/lib/lambda-functions/sso-handlers/src/tagsInventory.js
!/lib/lambda-functions/sso-handlers/src/permissionSetSync.js
!/lib/lambda-functions/sso-handlers/src/processTargetAccountSMListener.js


# Ignore Python lambda layers except requirements.txt
/lib/lambda-layers/python-layer/*
!/lib/lambda-layers/python-layer/requirements.txt

# VS code specific ignores
.vscode
~$*.docx
.DS_Store
