# Ignore transpiled files
*.js
*.d.ts

# Node modules
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# DrawIO Image definitions
*.drawio

# Jest config
!jest.config.js

# Eslint config
!.eslintrc.js


# VS code specific ignores
.vscode
~$*.docx
.DS_Store
