# Ignore cdk.out
cdk.out

# Ignore all transpiled files
**/*.js
**/*.d.ts

# Jest config
!jest.config.js

# Eslint config
!.eslintrc.js

# Lambda code exclusion
# No type definitions available for dynamo-stream-diff library used by permission set stream handler
!/lib/lambda-functions/ddb-stream-handlers/src/permissionSet.js
